<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PowerSpy</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">

        <script src="/static/js/home.js"></script>
    </head>

    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <b>PowerSpy</b>
                    </a>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            Home
                        </a>

                        <a class="navbar-item" href="/update">
                            Update
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="container">
                <h1 class="title">
                    PowerSpy
                </h1>
                <h3 class="subtitle">
                    Reboot It!
                </h3>

                <button class="button is-warning" id="powerButton" disabled>❓</button>
                <button class="button is-danger" id="holdButton">Hold</button>
            </div>
        </section>
    </body>
</html>
